// Define variables for your color scheme

// For example:
$warning-red: #cc2314;
$primary-blue: #009999;
$burnt-red: #A64529;
$bright-blue: #32B796;
$light-blue: #146BCC;
$red: #EE5F5B;
$blue: #2E4057;
$yellow: #FDB631;
$orange: orange;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$mid-green: #A7DD4F;
$bright-green: #0AC45B;

