.ag-dash-wrapper {
  // width: 80vw;
  // margin-left: 10vw;
  padding-top: 1vh;
}
.ag-dash-timesheet-card {
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  background: white;
  padding: 10px 15px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  margin: 8px 0px;
  opacity: 0.9;
  align-items: center;
  &:hover {
  -webkit-transition: width 2s, height 4s; /* Safari */
    transition: width 2s, height 4s;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    opacity: 1;
  }
}

a:hover {
  text-decoration: none;
}

.ag-dash-timesheet-status {
  border: 1px solid white;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
}
.stat-red {
  background-color: $red;
}
.stat-orange {
  background-color: $orange;
}
.stat-green {
  background-color: $green;
}

.stat-yellow {
  background-color: $mid-green;
}

.ag-dash-inside-timesheet-card {
  width: 33%;
}

.ag-dash-end-tag {
  color: $red;
  border: 1px solid $red;
  border-radius: 20px;
  padding: 5px 10px;
}

.ag-dash-start-tag {
  color: $green;
  border: 1px solid $green;
  border-radius: 20px;
  padding: 5px 10px;
}
