.dashboard-container {
  text-align: center;
}

.dashboard-card {
  margin: 20px;
  background: white;
  padding: 20px;
}

.timesheet_segment_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.dashboard-timesheetsgement {
  height: 35vh;
  padding-top: 5vh;
  padding-left: 5vh;
  padding-right: 3vh;
}
