.dashboard-container {
  text-align: center;
}

.dashboard-card {
  margin: 20px;
  background: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}


.pending_status {
  color: $warning-red;
}
