<div class="form-container container">
  <div class="form-placement">

   <%= link_to :back do %>
    <i class="fas fa-arrow-left profile-back", title="back"></i>
  <% end %>
      <% if current_user.apprentice? %>

        <h1 class="text-center">Edit Profile</h1>
        <%= render 'app_view_form' %>

      <% elsif current_user.agency? %>

        <h1 class="text-center">Edit Apprentice</h1>
        <%= render 'form' %>
      <% end %>
  </div>
</div>
