  <div class="form-container container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">

        <% if current_user.apprentice? %>

          <h1>Edit Profile</h1>
          <%= render 'app_view_form' %>

        <% elsif current_user.agency? %>
        
          <h1>Edit Apprentice</h1>
          <%= render 'form' %>

        <% end %>
      </div>
    </div>
     <%= link_to :back do %>
      <i class="fas fa-arrow-left profile-back", title="back"></i>
    <% end %>
  </div>
