<div class="container">
  <h1>Apprentices index</h1>
  <div class="apprentice-card">
    <% @apprentices.each do |apprentice| %>
      <p><%= link_to apprentice.first_name, apprentice_path(apprentice) %></p>
    <% end %>
  </div>
</div>

