<div class="form-container container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">

      <h1>Add A Placement</h1>
      <%= render 'edit_form' %>

    </div>
  </div>
</div>

