<div class="form-container container">


      <h1>Edit the Placement</h1>
      <%= render 'edit_form' %>


  <%= link_to :back do %>
    <i class="fas fa-arrow-left profile-back", title="back"></i>
  <% end %>
</div>

