<div class="main-wrapper">
  <div class="form-container container">
      <div class="form-placement">
    <%= link_to :back do %>
      <i class="fas fa-arrow-left profile-back", title="back"></i>
    <% end %>
        <h1 class="text-center">Edit the Placement</h1>
        <%= render 'edit_form' %>
      </div>
  </div>
</div>
