<h1>Current Placements</h1>

<% @apprentice.placements.each do |placement| %>
<div>
  <h3>Company Name: <%= placement.host_validator.company_name %> </h3>
  <p>Location: <%= placement.address %></p>
  <p>Payment per hour: £<%= placement.hourly_rate %></p>
  <p>Created at: <%= placement.created_at %></p>
</div>
<% end %>
