<h1>Current Placements</h1>
<ol>
<% @apprentice.placements.each do |placement| %>
<li>
  <%= link_to apprentice_placement_path(@apprentice.id, placement.id) do %>
    <p>Company Name: <%= placement.host_validator.company_name %> </p>
    <p>Created at: <%= placement.created_at %></p>
    <p>Start Date: <%= placement.pl_start_date %></p>
  <% end %>
</li>
<% end %>
</ol>
