<div class="container">
<%= link_to :back do %>
      <i class="fas fa-arrow-left profile-back", title="back"></i>
    <% end %>

      <div class="form-placement">
        <h1 class="text-center">Add A Placement</h1>
        <%= render 'form' %>
      </div>
</div>
