  <% if timesheet.pending_submission? %>
    <p class="pending_status", id='timesheet_status'><strong><%= timesheet.status %></strong></p>
  <% else %>
    <p id="timesheet_status"><%= timesheet.status %></p>
  <% end %>
