  <% if timesheet.pending_submission? %>
    <p class="pending_status", id='data-timesheet-<%= timesheet.id %>'><strong><%= timesheet.status %></strong></p>
  <% else %>
    <p id="data-timesheet-<%= timesheet.id %>"><%= timesheet.status %></p>
  <% end %>
