.placement-index-card {
  margin: 20px 0;
  background: white;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  &:hover {
  -webkit-transition: width 2s, height 4s; /* Safari */
    transition: width 2s, height 4s;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  }

}
.show-placement-index-wrapper {
  background: white;
  padding: 10px 20px;
  padding-bottom: 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.placement-appr {
  opacity: 1;
  &:hover {
    opacity: .6 ;
  }
}
.host-card-title-green {
  color: $blue;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}

.wrapper-index {
  width: 100vw;
}
