.agency-nav-blue {
  background-color: $primary-blue !important;
}
.appren-nav-blue {
  background-color: $light-blue !important;
}
.hostval-nav-blue {
  background-color: $blue !important;
}

.hostinv-nav-blue {
  background-color: $burnt-red !important;
}

  a.login-link {
    text-decoration: none;
  }
.login-link {
  color: white;
  &:hover {
  opacity: 0.8;
  color: white;
  }
}
/* Main navbar */
.navbar-wagon {
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s background-color ease;
background-color: $blue;
}


.home-nav {
  background-color: transparent;
  box-shadow: none;
  a {
    color: white;
  }
}
.navbar-home-solid {
  background-color: $blue;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  margin: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: white;
  font-size: 16px;
  font-weight: bolder;
  opacity: .8;
  &:hover {
  color: white;
  text-decoration: none;
  opacity: 1;
  }
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  border-color: #E6E6E6;
  background-color: #FFFDF9;
}
.navbar-wagon-dropdown-menu li > a {
  // transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: #FFFDF9;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.circular_name {
  height:33px;
  width:33px;
  background-color: #0AC45B;
  opacity: .9;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items:center;
}

.initial {
  color: white;
  font-weight: bolder;
  opacity: 0.8;

  &:hover {
  color: white;
  opacity: 1;
  }
}

.logo {
  font-weight: bolder;
  font-size: 25px;
  color: white;
  // font-family: monospace;

}

.logo:hover{
    text-decoration: none;
    color: white;
    opacity: 0.8;
  }

.nav-link {
  a {
  color: white;
  font-size: 16px;
    a:hover {
      // color: #da552f;
      // color:#BCBCBC;
      // opacity: 0;
      text-decoration: none !important;
    }
  }
}

.navbar-wagon-solid {
background-color: #2E4057;
a {
  color: white;
}
}
