.inside-timesheet-card {
  width: 25%;
}

.timesheets-status {
  border: 1px solid white;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  width: 70%;
  float: right;
  text-align: center;
}
